<ion-header>
  <ion-navbar color="primary">
    <ion-title>Поиск</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-item-group *ngFor="let item of items">
    <ion-item-divider >
      {{ item.univ_name }}
    </ion-item-divider>
    <a ion-item  *ngFor="let facult of item.faculties" (click)="openModal(facult, req)">
      {{ facult.fac_name }}
    </a>
  </ion-item-group>
  <ng-template #noData onload="initializeItems()">Loading accordion...</ng-template>
</ion-content>
